@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    --red-color:#8E2424;
    --grey-color: #667085;

}



.menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
}

div ul{
    display: flex;
    list-style: none;
    margin-right: 12rem;

}

div ul li{
    margin-right: 3rem;
    color: var(--grey-color);
}

div ul li .menu-itens{
    flex: auto;
}

.menu p{
    margin-right: 20px;
}

.menu button, .footer button{
    border: none;
    background: var(--red-color);
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    padding: 10px 20px;
    text-align: center;
  
}

.container :first-child{
    color: var(--red-color);
    font-weight: 500;
}

.flex{
    height: 288px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0px 96px;
    top: 487px;
}

.flex-box{
    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: stretch;
    width: 280px;
    height: 72px;
    margin: 8px 0;
}

.flex-box h2{
    color: var(--red-color);
    font-size: 60px;
}
/* 
img{
   width: 1216px;
   height: 400px;
}
*/

.main, .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


section .description{
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px;
    border: 1px solid #EAECF0;
    border-radius: 1px;
    margin: 24px 0px;
    text-align: left;

}

.description-job, .footer div{
    display: flex;
}

.desc{
    margin: 0 auto;
}

.footer div{
    margin: 0 auto;
}



.footer input{

    width: 300px;
    padding: 10px 10px 20px 20px;
    
  
    
}